/* Two-column layout */  
.left-column {
    width: 48%;
    float: left;
}
        
.right-column {
    width: 48%;
    float: right;
    padding-top: 0em;
    margin-top: 0em;
    text-align: left;
}

.attribution {
    font-size: 18px;
    font-family: 'Ubuntu Mono';
}

.bottom-bar {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    padding: .8em;
    text-align: left;
    z-index: 1;
    p { margin: 0;}
  }