/* Two-column layout */  
.left-column {
    width: 48%;
    float: left;
}
        
.right-column {
    width: 48%;
    float: right;
    padding-top: 0em;
    margin-top: 0em;
    text-align: left;
}

.attribution {
    font-size: 18px;
    font-family: 'Ubuntu Mono';
}